.dashboard {
	font-size: 20px;
	height: 800px;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	gap: 1em;
}

.subcontainer {
	background-color: var(--red10);
	border: 1px solid var(--red50);
	/* box-shadow: var(--shadow-soft); */
	border-radius: 4px;
	padding: 0.5em;
	display: grid;
	grid-template-columns: 1.5fr 3fr;
	grid-template-rows: 1.5fr 1fr;
	gap: 0.5em;
}

.subcontainer > div {
	/* background-color: var(--red10); */
	/* border: 2px solid crimson; */
	padding: 0.5em;
}

.subcontainer p {
	font-size: 16px;
	font-weight: 600;
}
