.CreateYourProfile {
	/* Auto layout */

	display: flex;
	flex-direction: column;
	align-items: center;

	margin: auto;

	width: 394px;

	/* Inside auto layout */

	flex: none;
	order: 2;
	flex-grow: 0;
}

@media only screen and (max-width: 768px) {
	.CreateYourProfile {
		width: 335px;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 0px;
		gap: 32px;

		height: 591px;

		/* Inside auto layout */

		flex: none;
		order: 1;
		flex-grow: 0;
	}
}
