.ant-btn-primary {
	background-color: #dc4f19;
}
.ant-input {
	background-color: #f9f9f9;
}
.ant-modal .ant-modal-footer {
	text-align: center;
}
.ant-btn:focus .ant-btn:hover {
	background-color: red !important;
}

.firstBoxText {
	resize: none;
	width: 100%;
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	padding: 0px 24px;
}
