.ant-btn-primary { background-color: #E04F5F; }
.ant-input { background-color: #F9F9F9; }
.ant-modal .ant-modal-footer { text-align: center; }
.ant-btn:focus .ant-btn:hover { background-color: red !important; }

.firstBoxText
{
    resize: none;
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 0px 24px;
}