
/* Compared to the figma design I changed the padding to adjust the padding of the right */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 16px;
	height: 76px;
	align-self: stretch;
	background-color: var(--background-color);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	/* border-bottom: 1px solid var(--font-color); */
}

.divider {
	width: 20px;
	height: 2px;
	border-radius: 4px;
	transform: rotate(-90deg);
	left: 0%;
	right: 0%;
	background: var(--font-color);
}


.menuButton {
	display: flex;
	/* background-color: transparent; */
	/* border: transparent; */
	align-items: center;
	gap: 8px;

	cursor: pointer;
}

.links-containers {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 16px;
	width: 280px;
	height: 24px;
}

.links-containers-logged {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 16px;
	justify-content: space-evenly;
}

.LoginLayout {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;

}

.NotLogged {
	color: var(--font-color);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	width: 70px;
	font-size: 20px;
	line-height: 24px;
}

.LoginIcon {
	color: var(--font-color);

	width: 24px;
	height: 24px;
}

.Nav-link-container-nickmenu {
	display: flex;
	flex-direction: row;
	padding: 0px;
	gap: 8px;

	width: 159px;
	height: 40px;
}


@media (max-width: 768px) {
	.navbar {
		height: 61px;
		padding: 0px 20px;
	}

	.links-containers {
		width: 140px;
		gap: 4px;
		height: 24px;
	}

	.links-containers-logged {
		width: 123px;
	}

	.Spectate, .Divider2, .Divider1 {
		display: none;
	}

	.LoginLayout {
		width: 100px;
		gap: 8px;
		height: 24px;
	}
}
