.subtitle {
	color: #949494;
	font-size: 75%;
	font-weight: 400;
}

.Federation {
	color: #4180db;
}

.Assembly {
	color: #a061d1;
}

.Order {
	color: #ff6950;
}

.Alliance {
	color: #33c47f;
}

.leaderboard__slot {
	text-decoration: none;
	color: black;
	margin: 1em 5%;
	background-color: #f6f6f7;
	box-shadow: var(--shadow-hard);
	border-radius: 8px;
	border-color: white;
	align-items: center;
	padding: 10px 5%;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.2s;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.leaderboard__slot:hover {
	transform: scale(1.01);
}

.leaderboard__slot__player {
	display: flex;
	justify-content: left;
	transform: translateX(-50px);
	align-items: center;
	width: 100px;
}

.leaderboard__slot__player-avatar {
	width: 50px;
	border-radius: 50%;
	box-shadow: var(--shadow-hard);
	margin: auto 10px;
}

.leaderboard__slot__player__coalition-value {
	font-weight: 500;
}

.rankList__search {
	display: flex;
	justify-content: center;
	gap: 5%;
	margin-bottom: 2em;
}

.rankList__search__name,
.rankList__search__coalition {
	border-radius: 20px;
	padding: 12px 18px;
	border: 1px solid var(--red90);
	box-shadow: var(--shadow-hard);
}

.rankList__search__count {
	color: var(--red100);
	font-weight: 600;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.empty {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
}

.empty__title {
	text-align: center;
}

.empty__redirect {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media (max-width: 1000px) {
	.leaderboard__slot__games,
	.leaderboard__slot__wins,
	.leaderboard__slot__ratio,
	.leaderboard__slot__achievements {
		display: none;
	}
}

@media (max-width: 500px) {
	.leaderboard__slot__player-avatar,
	.leaderboard__slot__score,
	.subtitle {
		display: none;
	}
	.leaderboard__slot__player {
		transform: translateX(0);
	}
	.leaderboard__slot {
		justify-content: space-around;
		font-size: 100%;
	}
	.empty {
		font-size: 15px;
	}
	.empty__redirect {
		flex-direction: column;
	}
	.rankList__search {
		flex-direction: column;
		height: 80px;
		justify-content: space-between;
		margin-bottom: 3em;
	}
}
