.menuButton
{
	display: flex;
	flex-direction: row;
	background-color: transparent;
	border: transparent;
	display: flex;
	align-items: center;
	position: absolute;
	padding: 0px;
	gap: 8px;

	width: 159px;
	height: 40px;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {

	
}